
.Titulo {
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgb(3 169 244 / 45%), rgb(0 255 244 / 13%)), url('../img/metalocus_sanatorio-paimio_70.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    grid-column: 1 / -1;
}

.Titulo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 66%);
    color: #000000;
}

.container{
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%; /* Centra verticalmente el logo en la sección */
    left: 50%; /* Centra horizontalmente el logo en la sección */
    transform: translate(-50%, -50%); /* Centra completamente el logo */
    z-index: 999;
    width: 430px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}



/* Estilos para el formulario de contacto */


section p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 90%;
    margin: 0 auto;
    padding: 8px;
}
main{
font-family: Arial, sans-serif;
background-image: linear-gradient(to bottom right, rgba(213, 229, 238, 0.9), rgba(162, 227, 247, 0.444));
    margin-bottom: 10px;
}


section h1 {
    text-align: center;
    color: #29abe2;
}

section h4{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #006666;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #29abe2;
}



/* Media query para hacer el menú responsive en pantallas pequeñas */
/* Media query para hacer el menú responsive en pantallas pequeñas */
@media only screen and (max-width: 768px) {

    .logo {
        top: 50%; /* Ajusta la posición vertical del logo en pantallas más pequeñas */
        left: 50%; /* Ajusta la posición horizontal del logo en pantallas más pequeñas */
        width: 100%; /* Ajusta el ancho del logo en pantallas más pequeñas */
    }
   
    .Titulo{
        display: none;
    }
}




/* Media query para pantallas medianas */
/* Media query para hacer el nav vertical en pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
        .Titulo{
            display: none;
        }
         
         section h1 {
            margin-top: 0%;
        }}
