* {
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
}

/*NAV------------------------------------*/

nav {
    z-index: 1000;
    
    
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: 120px;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgba(213, 229, 238, 0.9), rgba(162, 227, 247, 0.444));
}

#image{
    overflow: hidden;
}

nav ul li {
    padding: 10px;
    text-align: center;
    line-height: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #006666;
    white-space: nowrap;
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #29abe2;
    
}

nav ul li a:active {
    color: #02577a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1000;
    top: 100%;
    left: 0;
    opacity: 0;
    animation: fadeInDown 0.9s ease forwards; /* Agregar animación de desplazamiento */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px); /* Desplazamiento inicial hacia arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Desplazamiento hacia abajo */
    }
}

.show-dropdown .dropdown-content {
    display: block;
}

.dropdown-content a {
    color:#29abe2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a[href*="emergencias"] {
    color: #FF0000; /* Cambia el color del texto a rojo */
    font-weight: bold; /* Cambia el peso de la fuente a negrita */
    
}

a[href*="emergencias"]:hover {
    color: #FF4500; /* Cambia el color del texto en hover a un tono diferente de rojo */
    
}

a[href*="emergencias"]:active {
    color: #8B0000; /* Cambia el color del texto cuando se hace clic */
   
}

.dropbtn{
    background-color:#29abe2;
    color: #ffffff;
    border: 1px solid #02577a;
}

/*MAIN--------------------------------*/
main{
    background-image: linear-gradient(to bottom right, rgba(213, 229, 238, 0.9), rgba(162, 227, 247, 0.444));
}
.Titulo {
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgb(3 169 244 / 45%), rgb(0 255 244 / 13%)), url('../img/metalocus_sanatorio-paimio_70.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    grid-column: 1 / -1;
}

.Titulo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 66%);
    color: #000000;
}

.container{
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%; /* Centra verticalmente el logo en la sección */
    left: 50%; /* Centra horizontalmente el logo en la sección */
    transform: translate(-50%, -50%); /* Centra completamente el logo */
    z-index: 999;
    width: 430px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}

.slideImagenes {
    width: 720px;
    height: auto;
    margin: 18px auto 50px;
    overflow: hidden;
    position: relative;
    
}

.slideImagenes ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 300%; /* 100% por cada imagen */
    animation: slide 20s infinite ease-in-out;
}

.slideImagenes li {
    width: 100%;
    list-style: none;
    position: relative;
}

.nosotrosTexto {
    position: absolute;
    text-align: center;
    padding: 0 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.nosotrosTexto h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.slideImagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes slide {
    0%, 20% {margin-left: 0;}
    25%, 45% {margin-left: -100%;}
    50%, 70% {margin-left: -200%;}
    
}


/*FOOTER--------------------------------*/
footer {
    background-color: #02577a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-section .social a img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    margin-top: 20px;
}

.map-container {
    max-width: 800px; /* Establece un ancho máximo para el contenedor */
    margin: 0 auto 10px; /* Centra el contenedor horizontalmente */
  }
  
  .map-wrapper {
    position: relative;
    padding-bottom: 50%; /* Establece el aspect ratio (alto/ancho) del contenedor */
  }
  
  .map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #contacto {
    background-color: #f9f9f9;
    padding: 50px 20px;
    background-image: linear-gradient(to bottom right, rgba(213, 229, 238, 0.9), rgba(162, 227, 247, 0.444));
}

#contacto h2 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

#contacto-formulario label,
#contacto-formulario input,
#contacto-formulario textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

#contacto-formulario textarea {
    height: 150px;
}

#contacto-formulario button {
    background-color: #29abe2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#contacto-formulario button:hover {
    background-color: #02577a;
}


/* Media query para hacer el menú responsive en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    nav ul {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-top: 20px;
    }

    nav ul li {
        padding: 5px;
        line-height: normal;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
    }

    .logo {
        top: 50%; /* Ajusta la posición vertical del logo en pantallas más pequeñas */
        left: 50%; /* Ajusta la posición horizontal del logo en pantallas más pequeñas */
        width: 100%; /* Ajusta el ancho del logo en pantallas más pequeñas */
    }
    .dropdown-content {
        pointer-events: none; /* Desactiva la interacción con los dropdowns */
    }
    .nosotrosTexto {
        padding: 0 5%;
    }

    .nosotrosTexto h2 {
        font-size: 22px;
    }

    .nosotrosTexto p {
        font-size: 14px;
    }

    .slideImagenes {
        width: 100%;
        height: auto;
    }

    .slideImagenes img {
        height: auto;
    }
    .Titulo{
        display: none;
    }
}


/* Media query para pantallas medianas */
/* Media query para hacer el nav vertical en pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        position: relative; /* Asegura que el header sea el contexto de posicionamiento */
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px; /* Ancho del menú de navegación */
        max-height: calc(100vh - 85px - 50px); /* Limita la altura del menú al 100% de la altura de la pantalla menos la altura del header y del footer */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido del menú es demasiado largo */
        overflow-x: hidden; /* Oculta el desbordamiento horizontal */
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    }

    nav:hover {
        overflow-y:auto; /* Muestra la barra de desplazamiento vertical al pasar el ratón */
    }
    
    section h2{
        text-align: end;
    }
   

    ul {
        margin-top: 0%;
    }
    
       nav ul li:nth-child(1) {
          order: 1; /* Cambia el orden del primer elemento */
        }
        
       nav ul li:nth-child(2) {
          order: 6; /* Cambia el orden del segundo elemento */
        }
        
       nav ul li:nth-child(3) {
          order: 5; /* Cambia el orden del tercer elemento */
        }
        
       nav ul li:nth-child(4) {
          order: 3; /* Cambia el orden del cuarto elemento */
        }
       nav ul li:nth-child(5) {
            order: 4; /* Cambia el orden del cuarto elemento */
          }

          nav ul li:nth-child(6) {
            order: 2; /* Cambia el orden del cuarto elemento */
          }

          .dropdown-content {
            pointer-events: none; /* Desactiva la interacción con los dropdowns */
        }
        .slideImagenes {
            width: auto;
            margin-top: 0;
            margin-bottom: 0;
        }
        .Titulo{
            display: none;
        }
        .nosotrosTexto {
            margin-left: 200px;
        }
          }
