 /*MAIN o SECTION-------------------------------------------------------------------------------------*/
 .Titulo {
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgb(3 169 244 / 45%), rgb(0 255 244 / 13%)), url('../img/metalocus_sanatorio-paimio_70.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    grid-column: 1 / -1;
}

.Titulo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 66%);
    color: #000000;
}

.container{
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%; /* Centra verticalmente el logo en la sección */
    left: 50%; /* Centra horizontalmente el logo en la sección */
    transform: translate(-50%, -50%); /* Centra completamente el logo */
    z-index: 999;
    width: 430px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}
 
#seccion-con-foto {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(3 169 244 / 45%), rgb(0 255 244 / 13%)), url("../img/metalocus_sanatorio-paimio_70.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 82vh;
}

#seccion-con-foto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 66%);
}

.container{
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%; /* Centra verticalmente el logo en la sección */
    left: 50%; /* Centra horizontalmente el logo en la sección */
    transform: translate(-50%, -50%); /* Centra completamente el logo */
    z-index: 999;
}






.main-container {
    width: 100%;
    padding: 20px 20px 0; /* Ajusta el padding para reducir el espacio en blanco arriba */
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Aumenta el espacio entre las tarjetas */
    width: 100%;
    margin-top: 20px; /* Ajusta el margen superior para separar del borde superior del main */
}

.item {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-end; /* Alínea el contenido en la parte inferior */
    justify-content: center;
    height: 300px; /* Aumenta la altura de las tarjetas */
}

.content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px; /* Aumenta el relleno para más espacio alrededor del texto */
    border-radius: 5px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.one {
    grid-column: span 4; /* Ocupa 4 columnas */
    background-image: url('../img/cardiologia.jpg'); /* Imagen de fondo */
}

.two {
    grid-column: span 4; /* Ocupa 4 columnas */
    background-image: url('../img/clinicamedica.jpg'); /* Imagen de fondo */
}

.three {
    grid-column: span 4; /* Ocupa 4 columnas */
    background-image: url('../img/diagnosticomedico.jpg'); /* Imagen de fondo */
}

.four {
    grid-column: span 6; /* Ocupa 6 columnas */
    background-image: url('../img/gastro.jpg'); /* Imagen de fondo */
}

.five {
    grid-column: span 6; /* Ocupa 6 columnas */
    background-image: url('../img/laboratorio.jpg'); /* Imagen de fondo */
}

h1 {
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    text-align: center; /* Centra el texto */
    margin: 10px 0 0; /* Ajusta el margen para reducir el espacio superior */
    padding: 20px 0; /* Añade espacio arriba y abajo */
    font-size: 24px; /* Tamaño del texto */
}


/* Media query para hacer el menú responsive en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .logo {
        top: 50%; /* Ajusta la posición vertical del logo en pantallas más pequeñas */
        left: 50%; /* Ajusta la posición horizontal del logo en pantallas más pequeñas */
        width: 100%; /* Ajusta el ancho del logo en pantallas más pequeñas */
    }
    .one, .two, .three, .four, .five{
        grid-column: span 12; /* Ocupa 6 columnas */
    }
    .main-container {
        margin-bottom: 10px; /* Eliminar el padding superior */
    }
    .Titulo{
        display: none;
    }
}


/* Media query para pantallas medianas */
/* Media query para hacer el nav vertical en pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
          .main-container {
            padding-top: 0; /* Eliminar el padding superior */
            
                margin-bottom: 10px; /* Eliminar el padding superior */
            
        }
    
        .wrapper {
            margin-top: 0; /* Eliminar el margen superior */
        }
    
        h1 {
            display: none; /* Ocultar el título en esta resolución */
        }
    
         #content1, #content2{
            margin-left: 170px;
         }
    
        .one, .two, .three, .four, .five{
            grid-column: span 12; /* Ocupa 6 columnas */
        }

        .Titulo{
            display: none;
        }
     }
     