<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorio Grupo 8</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="image"><a href="../index.html" ><img src="/Codo a codo python 2024/static/img/logo.png" height="110px" alt=""></a></li>
                <li class="dropdown" ><a href="../templates/turnos.html">Turnos</a>
                    <div class="dropdown-content"><a href="">Presenciales</a><a href="">Video Consultas</a></div>
                <li class="dropdown" ><a href="../templates/especialidadesMedicas.html">Servicios médicos</a>
                    <div class="dropdown-content"><a href="">Laboratorio</a>
                    <a href="">Terapia Intensiva</a>
                    <a href="">Unidad Coronaria</a>
                    <a href="">Quirofano</a>
                    <a href="">Más...</a></div></li>
                <li class="dropdown"><a href="../templates/profesionales.html" >Profesionales</a>
                    <div class="dropdown-content"><a href="">Clinica</a>
                        <a href="">Consultorios externos</a></div></li>
                <li></li>
                <li class="dropdown">
                
                    <a href="../templates/cuenta.html" class="dropbtn">Tu cuenta</a>
                    <div class="dropdown-content">
                        <a href="">Iniciar sesion</a>
                        <a href="">Registrarse</a>
                        <!-- Otros enlaces adicionales aquí -->
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="seccion-con-foto">
            <div class="container">
                
            </div>
        </section>
    </main>
    <article>

    </article>
    <footer>

    </footer>
</body>
</html>