<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorio Grupo 7</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="image"><a href="../index.html" ><img src="../static/img/logo.png" height="110px" alt=""></a></li>
                <li class="dropdown" ><a href="../templates/nosotros.html">Nosotros</a>
                    <div class="dropdown-content"><a href="">Sobre "Grupo 7"</a><a href="">Contacto</a><a href="">Como llegar</a></div>
                <li class="dropdown" ><a href="../templates/serviciosMedicos.html">Servicios médicos</a>
                    <div class="dropdown-content"><a href="">Laboratorio</a>
                    <a href="">Terapia Intensiva</a>
                    <a href="">Unidad Coronaria</a>
                    <a href="">Quirofano</a>
                    <a href="">Más...</a></div></li>
                <li class="dropdown"><a href="../templates/formulario.html" >Turnos</a>
                    <div class="dropdown-content"><a href="">Presenciales</a>
                        <a href="">Videos Consultas</a></div></li>
                        <li class="dropdown"> <a href=""></a></li>
                <li class="dropdown">
                
                    <a href="../templates/emergencias.html">Emergencias +</a>
                        <!-- Otros enlaces adicionales aquí -->
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="seccion-con-foto">
            <div class="container">
                
            </div>
        </section>
    </main>
    <article>

    </article>
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre Nosotros</h3>
                <p>Información sobre "Grupo 7" y nuestra misión.</p>
            </div>
            <div class="footer-section links">
                <h3>Enlaces Útiles</h3>
                <ul>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Mapa del Sitio</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="#"><img src="static/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="static/img/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="static/img/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Grupo 7. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>