<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorio Grupo 8</title>
</head>
<body>
    <header >
        <a href="/Codo a codo python 2024/index.html"><img src="/Codo a codo python 2024/static/img/logo.png" alt=""></a>
        <nav>
            <a href="turnos.html">Turnos</a>
            <a href="especialidadesMedicas.html">Especialidades medicas</a>
            <a href="profesionales.html">Profesionales</a>
            <a href="cuenta.html">Tu cuenta</a>
        </nav>
        <h1>Sanatorio Grupo 7</h1>
    </header>
    
    <main>

    </main>
    <article>

    </article>
    <footer>

    </footer>
</body>
</html>