<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de turnos</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/formulario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!--HEADER------------------------------------------------------------------------------------------->
    <header>
        <!--NAV------------------------------------------------------------------->
        <nav>
            <ul>
                <li id="image">
                    <a href="../index.html" >
                        <img src="../static/img/logo.png" height="110" alt="">
                    </a>
                </li>
                <li class="dropdown" >
                    <a href="../templates/nosotros.html">Nosotros</a>
                    <div class="dropdown-content">
                        <a href="../templates/nosotros.html#destinoNosotros">Sobre "Grupo 7"</a>
                        <a href="../templates/nosotros.html#contacto">Contacto</a>
                        <a href="../templates/nosotros.html#destinoUbicacion">Como llegar</a>
                    </div>
                <li class="dropdown" >
                    <a href="../templates/serviciosMedicos.html">Servicios médicos</a>
                    <div class="dropdown-content">
                        <a href="../templates/serviciosMedicos.html#cardiologia">Cardiología</a>
                        <a href="../templates/serviciosMedicos.html#clinicaMedica">Clínica Médica</a>
                        <a href="../templates/serviciosMedicos.html#diagnosticoPorimagenes">Diagnóstico por imágenes</a>
                        <a href="../templates/serviciosMedicos.html#gastro">Gastroenterología</a>
                        <a href="../templates/serviciosMedicos.html#laboratorio">Laboratorio</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="../templates/formulario.html">Turnos</a>
                </li>
                <!--Li vacio para poder jugar con el espacio en distintas medidas con display:none-->
                <li class="dropdown"> 
                    <a href=""></a>
                </li>
                <!--MODAL link a js--->
                <li class="dropdown">                
                    <a href="javascript:void(0)" class="emergencias-link" id="emergenciasLink">Emergencias</a>
               </li>
            </ul>
        </nav>
        <!-- MODAL ---------------------------------------------------------->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Sanatorio Grupo 7</p>
                <p>Dirección: Rivadavia 1000000</p>
                <p>Teléfono: 1111111111111</p>
                <p>Horario: 24 horas</p>
            </div>
        </div>
    </header>
    <!--SECTION banner--------------------------------------------------------------------------------------->
    <section class="Titulo" aria-label="Sanatorio Grupo 7">
        <div class="container">
            <img src="../static/img/logomain.png" alt="" class="logo">
        </div>
    </section>
     <!--MAIN form turnos-------------------------------------------------------------------------------------->
    <main> 
        <section>
            <h1>Formulario de contacto</h1>
            <h4>Complete los siguientes datos para solicitar su turno</h4>
            <form id= "formulario" onsubmit= "return validarDatos()" action="https://formspree.io/f/xoqgzejg" method="post">
                <div>
                    <label for="nombreCompleto">Nombre completo:</label>
                    <input type="text" name="nombre completo" id="nombreCompleto" placeholder="Juan Perez">
                </div>
                <div>
                    <label for="dni">DNI</label>
                    <input type="number" name="dni" id="dni" placeholder="sin puntos ni comas">
                </div>
                <div>
                    <label for="nacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="nacimiento" id="nacimiento">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>
                <div id="campos"></div>
                <div>
                 <!-- Seleccion -->
                    <label for="especialidad">Especialidad y/o profesional:</label>
                    <select name="especialidad" id="especialidad">
                        <option value="cardiologia">Cardiología</option>
                        <option value="clinica_medica">Clínica Médica</option>
                        <option value="d_por_imagenes">Diagnóstico por imágenes</option>
                        <option value="gastroenterologia">Gastroenterología</option>
                        <option value="laboratorio">Laboratorio</option>
                    </select>
                </div>
                <!-- Radiobutton -->
                <div>
                    <input type="radio" name="historia" id="primeraVez" value="primera vez">
                    <label for="primeraVez">Es la primera vez que me atiendo en el sanatorio.</label>
                    <input type="radio" name="historia" id="paciente_regular" value="paciente_regular">
                    <label for="paciente_regular">Cuento con historia clínica en el sanatorio.</label>
                </div>
                <div>
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </section>
    </main>
    <!--FOOTER  ---------------------------------------------------------------------------------------------->
    <footer> 
        <div class="footer-content">
            <div class="footer-section about">
                <a href="../templates/nosotros.html">
                    <h3>Sobre Nosotros</h3>
                    <p>Información sobre "Grupo 7" y nuestra misión.</p>
                </a>
            </div>
            <div class="footer-section links">
                <h3>Enlaces Útiles</h3>
                <ul>
                    <li><a href="../templates/nosotros.html#contacto">Contáctanos</a></li>
                    <li><a href="../templates/serviciosMedicos.html#destinoserviciosMedicos">Nuestros Servicios</a></li>
                    <li><a href="../templates/nosotros.html#destinoUbicacion">Ubicación</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Grupo 7. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!--SCRIPT links---------------------------------------------------------------------->
    <script src="../static/js/validacion.js"></script>
    <script src="../static/js/modal.js"></script>
</body>
</html>