<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorio Grupo 7</title>
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>    <!--HEADER nav-->
        <nav>
            <ul>
                <li id="image">
                    <a href="../index.html" >
                        <img src="../static/img/logo.png" height="110" alt="">
                    </a>
                </li>
                <li class="dropdown" >
                    <a href="../templates/nosotros.html">Nosotros</a>
                    <div class="dropdown-content">
                        <a href="../templates/nosotros.html#destinoNosotros">Sobre "Grupo 7"</a>
                        <a href="../templates/nosotros.html#contacto">Contacto</a>
                        <a href="../templates/nosotros.html#destinoUbicacion">Como llegar</a>
                    </div>
                <li class="dropdown" >
                    <a href="../templates/serviciosMedicos.html">Servicios médicos</a>
                    <div class="dropdown-content">
                        <a href="../templates/serviciosMedicos.html#cardiologia">Cardiología</a>
                        <a href="../templates/serviciosMedicos.html#clinicaMedica">Clínica Médica</a>
                        <a href="../templates/serviciosMedicos.html#diagnosticoPorimagenes">Diagnóstico por imágenes</a>
                        <a href="../templates/serviciosMedicos.html#gastro">Gastroenterología</a>
                        <a href="../templates/serviciosMedicos.html#laboratorio">Laboratorio</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="../templates/formulario.html" >Turnos</a>
                </li>
                <li class="dropdown"> 
                    <a href=""></a>
                </li>
                <li class="dropdown">                
                    <a href="../templates/emergencias.html">Emergencias +</a>  
                </li>
            </ul>
        </nav>
    </header>
        <section class="Titulo" aria-label="Sanatorio Grupo 7">    <!--SECTION banner-->
            <div class="container">
                <img src="../static/img/logomain.png" alt="" class="logo">
            </div>
        </section>
    <main id="destinoNosotros">  <!--MAIN nosotros-->
        <div class="slideImagenes">
            <ul>
                <li>
                    <img src="../static/img/doctor1.jpg" alt="">
                    <div class="nosotrosTexto">
                        <h2>Sanatorio Grupo 7</h2>
                        <p>Bienvenido a Sanatorio Grupo 7, un oasis de cuidado y curación en el corazón de nuestra comunidad. 
                            Aquí, la excelencia médica se une a la compasión y la tecnología de vanguardia 
                            para ofrecerte una experiencia de atención médica sin igual. Desde servicios de emergencia hasta atención especializada, 
                            estamos comprometidos a brindarte el más alto nivel de atención en un entorno seguro y confortable.
                        </p>
                    </div>
                </li>
                <li>
                    <img src="../static/img/doctor2.jpg" alt="">
                    <div class="nosotrosTexto">
                        <h2>Sanatorio Grupo 7</h2>
                        <p>En Sanatorio Grupo 7, tu bienestar es nuestra prioridad número uno. 
                            Nuestro equipo de médicos expertos, enfermeras dedicadas y personal de apoyo trabajan juntos para 
                            proporcionarte un cuidado integral y personalizado en cada etapa de tu viaje hacia la salud y la recuperación. 
                            Con instalaciones modernas y un enfoque centrado en el paciente, te damos la confianza de 
                            saber que estás en buenas manos.
                        </p>
                    </div>
                </li>
                <li>
                    <img src="../static/img/doctor3.jpg"  alt="">
                    <div class="nosotrosTexto">
                        <h2>Sanatorio Grupo 7</h2>
                        <p>En Sanatorio Grupo 7, creemos en la importancia de no solo tratar las enfermedades, 
                            sino también en promover la salud y el bienestar en general. 
                            Desde programas de prevención y educación hasta servicios de rehabilitación y apoyo emocional, 
                            estamos aquí para ayudarte a alcanzar y mantener un estilo de vida saludable. 
                            Únete a nosotros en nuestro compromiso de hacer de la salud una prioridad para todos.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <section class="map-container" id="destinoUbicacion"> <!--SECTION mapa-->
        <h2>Encuéntranos Aquí</h2>
        <div class="map-wrapper">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.904936799358!2d-122.08424968469258!3d37.42199997982505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb24c97d7cd41%3A0x4cda9fb2c7ffb439!2sGoogleplex!5e0!3m2!1sen!2sus!4v1588881733425!5m2!1sen!2sus"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
    <section id="contacto"> <!--SECTION form-->
        <div class="container">
            <h2>Contacto</h2>
            <form id="contacto-formulario">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>    
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>    
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>
    <footer>    <!--FOOTER  -->
        <div class="footer-content">
            <div class="footer-section about">
                <a href="../templates/nosotros.html">
                    <h3>Sobre Nosotros</h3>
                    <p>Información sobre "Grupo 7" y nuestra misión.</p>
                </a>
            </div>
            <div class="footer-section links">
                <h3>Enlaces Útiles</h3>
                <ul>
                    <li><a href="../templates/nosotros.html#contacto">Contáctanos</a></li>
                    <li><a href="../templates/serviciosMedicos.html#destinoserviciosMedicos">Nuestros Servicios</a></li>
                    <li><a href="../templates/nosotros.html#destinoUbicacion">Ubicación</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Grupo 7. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>