<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatorio Grupo 7</title>
    <link rel="stylesheet" href="../static/css/nosotros.css">
</head>
<body>
    <body>
        <header>
            <nav>
                <ul>
                    <li id="image"><a href="../index.html" ><img src="../static/img/logo.png" height="110px" alt=""></a></li>
                    <li class="dropdown" ><a href="../templates/nosotros.html">Nosotros</a>
                        <div class="dropdown-content"><a href="">Sobre "Grupo 7"</a><a href="">Contacto</a><a href="">Como llegar</a></div>
                    <li class="dropdown" ><a href="../templates/serviciosMedicos.html">Servicios médicos</a>
                        <div class="dropdown-content"><a href="">Laboratorio</a>
                        <a href="">Terapia Intensiva</a>
                        <a href="">Unidad Coronaria</a>
                        <a href="">Quirofano</a>
                        <a href="">Más...</a></div></li>
                    <li class="dropdown"><a href="../templates/formulario.html" >Turnos</a>
                        <div class="dropdown-content"><a href="">Presenciales</a>
                            <a href="">Videos Consultas</a></div></li>
                            <li class="dropdown"> </li>
                <li class="dropdown">
                
                    <a href="../templates/emergencias.html">Emergencias +</a>
                            <!-- Otros enlaces adicionales aquí -->
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <h1 class="Titulo">Sanatorio Grupo 7</h1>
        <main>
            
            <div class="slideImagenes">
                <ul>
                    <li>
                        <img src="../static/img/doctor1.jpg" alt="">
                        <div class="nosotrosTexto">
                            <h2>Sanatorio Grupo 7</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, 
                            voluptates porro neque nemo consequatur magnam voluptatem perferendis unde tempora corrupti 
                            doloribus cupiditate architecto necessitatibus non ullam quo labore optio nesciunt.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../static/img/doctor2.jpg" alt="">
                        <div class="nosotrosTexto">
                            <h2>Sanatorio Grupo 7</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, 
                            voluptates porro neque nemo consequatur magnam voluptatem perferendis unde tempora corrupti 
                            doloribus cupiditate architecto necessitatibus non ullam quo labore optio nesciunt.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../static/img/doctor3.jpg"  alt="">
                        <div class="nosotrosTexto">
                            <h2>Sanatorio Grupo 7</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, 
                            voluptates porro neque nemo consequatur magnam voluptatem perferendis unde tempora corrupti 
                            doloribus cupiditate architecto necessitatibus non ullam quo labore optio nesciunt.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <section class="map-container">
                <h2>Encuéntranos Aquí</h2>
                <div class="map-wrapper">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.904936799358!2d-122.08424968469258!3d37.42199997982505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb24c97d7cd41%3A0x4cda9fb2c7ffb439!2sGoogleplex!5e0!3m2!1sen!2sus!4v1588881733425!5m2!1sen!2sus"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </div>
              </div>
          </section>
        <footer>
            <div class="footer-content">
                <div class="footer-section about">
                    <h3>Sobre Nosotros</h3>
                    <p>Información sobre "Grupo 7" y nuestra misión.</p>
                </div>
                <div class="footer-section links">
                    <h3>Enlaces Útiles</h3>
                    <ul>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Mapa del Sitio</a></li>
                    </ul>
                </div>
                <div class="footer-section social">
                    <h3>Síguenos</h3>
                    <a href="#"><img src="static/img/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="static/img/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="static/img/instagram.png" alt="Instagram"></a>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Grupo 7. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>